@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

:root {
  --color-pri: #212A3C;
  --color-sec: #FEFFFE;
  --color-ter: #48D51E;

  --anim-timing: 300ms;
}

*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-family: Outfit;
  background-color: var(--color-pri);
  color: var(--color-sec);

  transition: background-color var(--anim-timing) ease;
  transform:
    perspective(1000px)
    rotateY(var(--rotateY))
    rotateX(var(--rotateX));

  overflow: hidden;
}

.signature {
  position: fixed;
  bottom: 0.5em;
  right: 1.5em;
}

.signature > small {
  font-weight: 200;
}

.signature > a {
  font-weight: 400;
  text-decoration: none;
  color: var(--color-sec);
}

.signature > a:hover {
  color: var(--color-ter);
}

.vignette-overlay {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200vw;
  height: 200vh;
  pointer-events: none;
  box-shadow: inset 0 0 150px rgba(0, 0, 0, 0.4);
  z-index: 9999;
}

.screen-notice {
  display: none;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 80vw;
  padding: 20px;
}

.logo {
  font-size: 3rem;
  transition: color var(--anim-timing) ease;
}

.logo::after {
  content: "456";

  font-size: 0.7em;
  color: var(--color-ter);

  position: relative;
  top: 1em;
  left: -1.28em;
}

.navbar-side {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 8em;
}

.info > h1 {
  font-size: 2.4rem;
  background-color: var(--color-ter);
  padding: 0.1em 0.45em;
  border-radius: 20px;

  position: relative;
  user-select: none;
  transition: all var(--anim-timing) ease;
}

.info > h1:hover {
  color: var(--color-ter);
  background-color: var(--color-sec);
  transform: translateY(-0.1em);
}

.info > h2 {
  font-size: 1.5rem;
  font-weight: normal;
  color: var(--color-sec);
  background-color: var(--color-pri);
  width: 25rem;
  padding: 0.4em;
  border-radius: 10px;
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.5);
  
  position: absolute;
  top: 100px;
  right: 200px;
  
  opacity: 0;
  pointer-events: none;
  z-index: 500;
  transition: all var(--anim-timing) ease;
}

.info > h1:hover + h2 {
  opacity: 1;
}

.switch-mode {
  position: relative;
  width: 3rem;
  height: 3rem;
  transition: all var(--anim-timing) ease;
}

.switch-mode > * {
  font-size: 3rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all var(--anim-timing) ease;
}

.switch-mode:hover {
  color: var(--color-ter);
  cursor: pointer;
  transform: translateY(-0.2em);
}

.pages-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 85%;
  min-height: 55vh;
  margin: 3em 0;

  position: relative;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;

  width: 18em;
  height: 18em;
  color: var(--color-sec);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-decoration: none;
  padding: 0.8em;
  margin: -0.2em;
  border: 3px var(--color-sec) solid;
  border-radius: 7px;
  box-shadow: 0 0 300px 5px rgba(0, 0, 0, 0.3);

  transition: all var(--anim-timing) ease;
}

.page:hover {
  border-color: var(--color-ter);
}

.page > p {
  transition: all var(--anim-timing) ease;
}

.page > h3 {
  font-size: 1rem;
  font-weight: 500;
  transition: all var(--anim-timing) ease;
}

.page-selected {
  background-color: var(--color-pri);
  width: 25em;
  height: 25em;
  z-index: 100;
  position: relative;

  transform-style: preserve-3d;
  transform:
    perspective(1000px)
    rotateY(var(--rotateY))
    rotateX(var(--rotateX));
}

.page-selected::after {
  content: "";
  position: absolute;
  border-radius: inherit;
  inset: var(--inset);
  background: var(--color-ter);
  transform: translateZ(-50px);

  transition: all 1s ease;
}

.page-selected > h3 {
  font-size: 1.1rem;
  color: var(--color-pri);
  background-color: var(--color-sec);
  padding: 0.1em 1em;
  border-radius: 3px;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);
  transform: translateY(-3em);
}

.page-selected > p {
  font-size: 0.8rem;
  font-weight: 300;
  padding: 0.3em;
  border-radius: 3px;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);
}

.page-prev, .page-next {
  filter: brightness(50%);
}

.page-prev:hover, .page-next:hover {
  filter: brightness(100%);
}

.page-prev:hover > h3, .page-next:hover > h3 {
  font-weight: 500;
}

.page-prev:hover > p, .page-next:hover > p {
  font-weight: 300;
}

.page-prev:hover {
  transform: translateX(-2em);
}

.page-next:hover {
  transform: translateX(2em);
}

.page-prev:active, .page-next:active {
  background-color: var(--color-ter);
  transform: translateX(0);
}

.page-prev > h3, .page-next > h3 {
  font-weight: 100;
}
.page-prev > p, .page-next > p {
  font-size: 0.7rem;
  font-weight: 100;
}

.quote-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 80%;
}

.quote {
  font-weight: 300;
}

.author {
  font-weight: 200;
  margin-top: 0.3em;
  margin-left: 0.4em;
}

.hidden {
  opacity: 0;
  transform: rotate(180deg);
  top: 0;
  left: 0;
}

.jump {
  transform: translateY(-1em);
}

.jump > h3, .jump > p {
  color: var(--color-pri);
  background-color: var(--color-pri);
  opacity: 0;
  transform: translateY(2em);
}

@media (pointer: coarse) or (max-width: 768px) {
  .screen-notice {
    display: block;
    font-size: 0.7rem;
    color: var(--color-pri);
    background-color: var(--color-sec);
    padding: 0.3em 0.8em;
    border-radius: 8px;

    position: relative;
    top: 5px;
  }
}

@media (pointer: coarse) {
  body, .page-selected {
    transform: none;
  }
}

@media screen and (max-width: 768px) {
  nav {
    margin-right: 0;
  }

  .logo {
    font-size: 2rem;
  }

  .navbar-side {
    flex-direction: column;
    width: 4em;
    height: 6.2em;
    position: absolute;
    top: 3em;
    right: 0;
  }

  .info > h1 {
    font-size: 2rem;
  }
  
  .info > h2 {
    font-size: 1.2rem;
    top: 50px;
    right: 100px;
  }

  .switch-mode > * {
    font-size: 2.2rem;
  }

  .page-selected::after {
    inset: -0.5rem;
  }

  .page-prev, .page-next {
    width: 20vw;
    height: 40vw;
    filter: initial;
  }

  .page-prev > p, .page-next > p {
    display: none;
  }
}
